In [112]:
#Working with large movie dataset
import pandas as pd, numpy as np
import os

In [113]:
os.chdir("/home/cloudera/Desktop") 
#replace the string between the parentheses with the full path to your python folder.

In [114]:
movies=pd.read_csv("movie_metadata.csv")

In [115]:
movies.shape  #returns the number of rows and columns in the dataframe

(5043, 28)

In [116]:
#returns the name of each column
movies.columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [117]:
#returns all the data in the form of a table
movies.describe()

/home/cloudera/pyspark/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,8.593500e+03,1411.000000,NaN,NaN,NaN,NaN,NaN,5.800000,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,3.435900e+04,3090.000000,NaN,NaN,NaN,NaN,NaN,6.600000,NaN,166.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,9.630900e+04,13756.500000,NaN,NaN,NaN,NaN,NaN,7.200000,NaN,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [118]:
#returns information about each column
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [119]:
#returns the top entries
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [120]:
#returns the top 3 entries
movies.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [121]:
#returns the fisrt 4 entries in the database up to the 11th rows and 19th column
movies.iloc[:,11:19].head()

,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews
0,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0
1,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0
2,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0
3,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0
4,Star Wars: Episode VII - The Force Awakens ...,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN

In [122]:
#returns the first 5 rows and all columns
movies.iloc[0:5]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [123]:
#returns all rows but only the first 5 columns
movies.iloc[:,0:5]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0
1,Color,Gore Verbinski,302.0,169.0,563.0
2,Color,Sam Mendes,602.0,148.0,0.0
3,Color,Christopher Nolan,813.0,164.0,22000.0
4,NaN,Doug Walker,NaN,NaN,131.0
5,Color,Andrew Stanton,462.0,132.0,475.0
6,Color,Sam Raimi,392.0,156.0,0.0
7,Color,Nathan Greno,324.0,100.0,15.0
8,Color,Joss Whedon,635.0,141.0,0.0
9,Color,David Yates,375.0,153.0,282.0
10,Color,Zack Snyder,673.0,183.0,0.0
11,Color,Bryan Singer,434.0,169.0,0.0
12,Color,Marc Forster,403.0,106.0,395.0
13,Color,Gore Verbinski,313.0,151.0,563.0
14,Color,Gore Verbinski,450.0,150.0,563.0
15,Color,Zack Snyder,733.0,143.0,0.0
16,Color,Andrew Adamson,258.0,150.0,80.0
17,Color,Joss Whedon,703.0,173.0,0.0
18,Color,Rob Marshall,448.0,136.0,252.0
19,Color,Barry Sonnenfeld,451.0,106.0,188.0
20,Color,Peter Jackson,422.0,164.0,0.0
21,Color,Marc Webb,599.0,153.0,464.0
22,Color,Ridley Scott,343.0,156.0,0.0
23,Color,Peter Jackson,509.0,186.0,0.0
24,Color,Chris Weitz,251.0,113.0,129.0
25,Color,Peter Jackson,446.0,201.0,0.0
26,Color,James Cameron,315.0,194.0,0.0
27,Color,Anthony Russo,516.0,147.0,94.0
28,Color,Peter Berg,377.0,131.0,532.0
29,Color,Colin Trevorrow,644.0,124.0,365.0
...,...,...,...,...,...
5013,Color,Eric Eason,28.0,79.0,3.0
5014,Color,Uwe Boll,58.0,80.0,892.0
5015,Black and White,Richard Linklater,61.0,100.0,0.0
5016,Color,Joseph Mazzella,NaN,90.0,0.0
5017,Color,Travis Legge,1.0,90.0,138.0
5018,Color,Alex Kendrick,5.0,120.0,589.0
5019,Color,Marcus Nispel,43.0,91.0,158.0
5020,NaN,Brandon Landers,NaN,143.0,8.0
5021,Color,Jay Duplass,51.0,85.0,157.0
5022,Black and White,Jim Chuchu,6.0,60.0,0.0
5023,Color,Daryl Wein,22.0,88.0,38.0
5024,Color,Jason Trost,42.0,78.0,91.0
5025,Color,John Waters,73.0,108.0,0.0
5026,Color,Olivier Assayas,81.0,110.0,107.0
5027,Color,Jafar Panahi,64.0,90.0,397.0
5028,Black and White,Ivan Kavanagh,12.0,83.0,18.0
5029,Color,Kiyoshi Kurosawa,78.0,111.0,62.0
5030,Color,Tadeo Garcia,NaN,84.0,5.0
5031,Color,Thomas L. Phillips,13.0,82.0,120.0
5032,Color,Ash Baron-Cohen,10.0,98.0,3.0
5033,Color,Shane Carruth,143.0,77.0,291.0
5034,Color,Neill Dela Llana,35.0,80.0,0.0
5035,Color,Robert Rodriguez,56.0,81.0,0.0
5036,Color,Anthony Vallone,NaN,84.0,2.0
5037,Color,Edward Burns,14.0,95.0,0.0
5038,Color,Scott Smith,1.0,87.0,2.0
5039,Color,NaN,43.0,43.0,NaN
5040,Color,Benjamin Roberds,13.0,76.0,0.0
5041,Color,Daniel Hsia,14.0,100.0,0.0
5042,Color,Jon Gunn,43.0,90.0,16.0

In [124]:
#exerciseA
#returns the total number of columns and rows
movies.shape

(5043, 28)

In [125]:
#returns the value that is found in row 1000, column 11(movie_title)
movies.iloc[1000,11]

'Hannibal Rising\xa0'

In [126]:
#returns the sum of all the movies without a budget
movies.budget.isnull().sum()

492

In [127]:
#exerciseB
#returns the lowest budget
movies.budget.min()

218.0

In [128]:
#retunes the highest budget
movies.budget.max()

12215500000.0

In [129]:
#returns the median budget
movies.budget.median()

20000000.0

In [130]:
#returns the average budget
movies.budget.mean()

39752620.436387606

In [131]:
#returns the lowest score on imdb
movies.imdb_score.min()

1.6000000000000001

In [132]:
#returns the highest score on imdb
movies.imdb_score.max()

9.5

In [133]:
#exrciseC
#returns the top 15 movies regarding the score on imdb
topscore=movies.sort_values('imdb_score',ascending=False)
topscore2=topscore[['movie_title','title_year','genres','imdb_score']]
topscore2.head(15)

,movie_title,title_year,genres,imdb_score
2765,Towering Inferno,NaN,Comedy,9.5
1937,The Shawshank Redemption,1994.0,Crime|Drama,9.3
3466,The Godfather,1972.0,Crime|Drama,9.2
4409,Kickboxer: Vengeance,2016.0,Action,9.1
2824,Dekalog,NaN,Drama,9.1
3207,Dekalog,NaN,Drama,9.1
66,The Dark Knight,2008.0,Action|Crime|Drama|Thriller,9.0
2837,The Godfather: Part II,1974.0,Crime|Drama,9.0
3481,Fargo,NaN,Crime|Drama|Thriller,9.0
339,The Lord of the Rings: The Return of the King,2003.0,Action|Adventure|Drama|Fantasy,8.9
4822,12 Angry Men,1957.0,Crime|Drama,8.9
4498,"The Good, the Bad and the Ugly",1966.0,Western,8.9
3355,Pulp Fiction,1994.0,Crime|Drama,8.9
1874,Schindler's List,1993.0,Biography|Drama|History,8.9
683,Fight Club,1999.0,Drama,8.8

In [134]:
#exerciseD
#returns the top 10 movies regsarding the net profit
movies['net_profit']=movies['gross'] - movies['budget']
movies['net_profit'].head()
mostprofit=movies.sort_values('net_profit',ascending=False)
mostprofit[['movie_title','genres','net_profit']].head(10)

,movie_title,genres,net_profit
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,523505847.0
29,Jurassic World,Action|Adventure|Sci-Fi|Thriller,502177271.0
26,Titanic,Drama|Romance,458672302.0
3024,Star Wars: Episode IV - A New Hope,Action|Adventure|Fantasy|Sci-Fi,449935665.0
3080,E.T. the Extra-Terrestrial,Family|Sci-Fi,424449459.0
794,The Avengers,Action|Adventure|Sci-Fi,403279547.0
17,The Avengers,Action|Adventure|Sci-Fi,403279547.0
509,The Lion King,Adventure|Animation|Drama|Family|Musical,377783777.0
240,Star Wars: Episode I - The Phantom Menace,Action|Adventure|Fantasy|Sci-Fi,359544677.0
66,The Dark Knight,Action|Crime|Drama|Thriller,348316061.0

In [135]:
#returns the top 10 movies regarding the percentage profit
movies['profit_percen']=((movies['gross'] - movies['budget']) / movies['budget']) * 100
movies['profit_percen'].head()
mostpercentage=movies.sort_values('profit_percen',ascending=False)
mostpercentage[['movie_title','genres','profit_percen']].head(10)

,movie_title,genres,profit_percen
4793,Paranormal Activity,Horror,719348.553333
4799,Tarnation,Biography|Documentary,271466.055046
4707,The Blair Witch Project,Horror,234116.856667
4984,The Brothers McMullen,Comedy|Drama|Romance,40886.400000
4936,The Texas Chain Saw Massacre,Horror|Thriller,36842.728535
3278,The Texas Chain Saw Massacre,Horror|Thriller,36842.728535
5035,El Mariachi,Action|Crime|Drama|Romance|Thriller,29056.000000
4956,The Gallows,Horror|Thriller,22657.819000
4977,Super Size Me,Comedy|Documentary|Drama,17637.489231
2619,Halloween,Horror|Thriller,15566.666667

In [136]:
#exerciseE
#returns how many movies were made after the year 2000
after2000=movies[movies['title_year']>2000]
len(after2000)

3426

In [137]:
#returns how many movies were made before the year 1960
before1960=movies[movies['title_year']<1960]
len(before1960)

74

In [138]:
#finalExercise
#returns how many movies each director has made during the last 26 years
totalM=movies[movies['title_year']>1994]
totalM['director_name'].value_counts().head(20)

Clint Eastwood        16
Steven Soderbergh     15
Steven Spielberg      15
Woody Allen           15
Ridley Scott          14
Michael Bay           13
Ron Howard            12
Robert Rodriguez      12
Shawn Levy            12
Rob Cohen             11
Tim Burton            11
Peter Jackson         11
Kevin Smith           11
Martin Scorsese       10
Spike Lee             10
Brett Ratner          10
Bobby Farrelly        10
Renny Harlin          10
Sam Raimi             10
Paul W.S. Anderson    10
Name: director_name, dtype: int64

In [139]:
#returns the total profit made by a specific director during the last 26 years
totalProfit=totalM[movies['director_name']=='Clint Eastwood']
totalProfit['net_profit'].sum()

/home/cloudera/pyspark/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

463263653.0

In [140]:
#extraCredit_1
totalComedy=movies[movies['genres']=='Comedy']
len(totalComedy)

209

In [141]:
len(movies)

5043

In [142]:
percentComedy=((len(movies)-len(totalComedy))/len(totalComedy))
print(percentComedy)

23.129186602870814

In [143]:
totalComedy['net_profit']=movies['gross'] - movies['budget']
totalComedy['net_profit'].head()
mostprofit=totalComedy.sort_values('net_profit',ascending=False)
mostprofit[['movie_title','genres','net_profit']].head(10)

/home/cloudera/pyspark/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                                            movie_title  genres   net_profit
1397                                      The Hangover   Comedy  242313371.0
440                               The Hangover Part II   Comedy  174455986.0
4046                                      Animal House   Comedy  138600000.0
2391                                         Neighbors   Comedy  132056505.0
1587                                    American Pie 2   Comedy  115096820.0
838                                   Meet the Parents   Comedy  111225040.0
2540                                     Dumb & Dumber   Comedy  111175354.0
2394  Borat: Cultural Learnings of America for Make ...  Comedy  110505958.0
3885                                           Porky's   Comedy  101500000.0
2475                                          Superbad   Comedy  101463226.0

In [144]:
totalComedy.net_profit.mean()

20986967.387755103

In [145]:
totalComedy[['movie_title', 'genres','imdb_score']].sort_values('imdb_score',ascending=False)

                                            movie_title  genres  imdb_score
2765                      Towering Inferno               Comedy         9.5
1842     It's Always Sunny in Philadelphia               Comedy         8.8
4359  Dr. Strangelove or: How I Learned to Stop Worr...  Comedy         8.5
4281                  Strangers with Candy               Comedy         8.1
4158                                Young Frankenstein   Comedy         8.0
3084                              Lovesick               Comedy         7.9
3985                                         Airplane!   Comedy         7.8
3161                                      Office Space   Comedy         7.8
1397                                      The Hangover   Comedy         7.8
5008                                            Clerks   Comedy         7.8
3542                                Dazed and Confused   Comedy         7.7
3925                               Waiting for Guffman   Comedy         7.6
4046                                      Animal House   Comedy         7.6
2475                                          Superbad   Comedy         7.6
2567                                        Radio Days   Comedy         7.6
3293                                    Trading Places   Comedy         7.5
3597                                      Best in Show   Comedy         7.5
4053                                 Waking Ned Devine   Comedy         7.4
645                      Last Man Standing               Comedy         7.4
3718                                         Clerks II   Comedy         7.4
2292                                Death at a Funeral   Comedy         7.4
2287                              Deconstructing Harry   Comedy         7.4
2134                                Death at a Funeral   Comedy         7.4
4932                                  The Woman Chaser   Comedy         7.3
2394  Borat: Cultural Learnings of America for Make ...  Comedy         7.3
2540                                     Dumb & Dumber   Comedy         7.3
2026                                        Old School   Comedy         7.2
1902             Anchorman: The Legend of Ron Burgundy   Comedy         7.2
279                            10,000 B.C.               Comedy         7.2
4324                                           Bananas   Comedy         7.1
...                                                 ...     ...         ...
2097                    Deuce Bigalow: European Gigolo   Comedy         4.6
3909                                          The Wash   Comedy         4.6
2958                                   My Baby's Daddy   Comedy         4.5
4037                                  The Opposite Sex   Comedy         4.5
2684                               Freddy Got Fingered   Comedy         4.5
2585                                        Soul Plane   Comedy         4.4
3169                                          Movie 43   Comedy         4.3
2941                           Johnson Family Vacation   Comedy         4.3
3910                                         3 Strikes   Comedy         4.0
3997                                 I Got the Hook Up   Comedy         3.9
4507                                     Extreme Movie   Comedy         3.8
2574                                       The Cookout   Comedy         3.6
2833                                The Last Godfather   Comedy         3.6
2191                       Meet the Browns               Comedy         3.5
2203                                     Vampires Suck   Comedy         3.5
2210                                     Scary Movie 5   Comedy         3.5
3234         An Alan Smithee Film: Burn Hollywood Burn   Comedy         3.5
3753                             Fifty Shades of Black   Comedy         3.5
1671           Dumb and Dumberer: When Harry Met Lloyd   Comedy         3.4
514                                      Jack and Jill   Comedy         3.4
4127                      My Big Fat Independent Movie   Comedy         3.3
3197                   Bucky Larson: Born to Be a Star   Comedy         3.3
3833                                       Without Men   Comedy         3.2
4081                                        Phat Girlz   Comedy         3.0
4613                                        Frat Party   Comedy         2.8
1654                                 Meet the Spartans   Comedy         2.7
4472  The 41-Year-Old Virgin Who Knocked Up Sarah Ma...  Comedy         2.7
4133  30 Nights of Paranormal Activity with the Devi...  Comedy         2.6
3525                             Chairman of the Board   Comedy         2.3
2268                                    Disaster Movie   Comedy         1.9

[209 rows x 3 columns]

In [146]:
#extraCredit_2
totalActors=totalComedy[movies['title_year']>2000]
totalActors['actor_1_name'].value_counts().head(10)

/home/cloudera/pyspark/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

Will Ferrell         4
Steve Buscemi        3
Peter Dinklage       3
Rob Riggle           2
Jon Heder            2
Matt Damon           2
Milla Jovovich       2
Justin Theroux       2
Christopher Judge    2
Joe Lo Truglio       2
Name: actor_1_name, dtype: int64

In [147]:
totalActors['actor_2_name'].value_counts().head(10)

Adam Sandler         3
Will Ferrell         3
Shannon Elizabeth    3
Snoop Dogg           2
Ewen Bremner         2
Diedrich Bader       2
David Hewlett        2
Eddie Griffin        2
Randall Park         2
Amy Poehler          2
Name: actor_2_name, dtype: int64

In [148]:
totalActors['actor_3_name'].value_counts().head(10)

Steve Carell          3
Rob Riggle            2
Natasha Lyonne        2
Shad Moss             2
Jon Gries             2
Seth MacFarlane       2
Kris Marshall         2
Jada Pinkett Smith    2
Ben Falcone           2
Sarah Wright          2
Name: actor_3_name, dtype: int64